<form [formGroup]="form" (ngSubmit)="submit()">

  <div formGroupName="fullName">
    <div>

      <p>Name: {{name.value}}</p>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-icon matSuffix [ngStyle]="{'color':'green'}" *ngIf="name.valid">done</mat-icon>
        <mat-icon matSuffix [ngStyle]="{'color':'red'}" *ngIf="name.invalid">close</mat-icon>
      </mat-form-field>
      <div class="message" [class.active]="name.touched && name.invalid">
        <mat-error *ngIf="name.touched && name.hasError('required')">El nombre es requerido</mat-error>
        <mat-error *ngIf="name.touched && name.hasError('pattern')">El nombre solo debe contener letras</mat-error>
      </div>

      <!--

        <input [class.is-valid]="name.touched && name.valid" [class.is-invalid]="name.touched && name.invalid" type="text"
        formControlName="name" />
        <div class="message" [class.active]="name.touched && name.invalid">
          <small *ngIf="name.touched && name.hasError('required')">El nombre es requerido</small>
          <small *ngIf="name.touched && name.hasError('pattern')">El nombre solo debe contener letras</small>
        </div>
      -->
    </div>

    <div>
      <p>Last name: {{lastName.value}}</p>
      <input [class.is-valid]="lastName.touched && lastName.valid"
        [class.is-invalid]="lastName.touched && lastName.invalid" type="text" formControlName="lastName" />
      <div class="message" [class.active]="lastName.touched && lastName.invalid">
        <small *ngIf="lastName.touched && lastName.hasError('required')">El nombre es requerido</small>
        <small *ngIf="lastName.touched && lastName.hasError('pattern')">El nombre solo debe contener letras</small>
      </div>
    </div>

  </div>


  <div>
    <p>Email: {{email.value}}</p>
    <input [class.is-valid]="email.touched && email.valid" [class.is-invalid]="email.touched && email.invalid"
      type="email" formControlName="email" />
    <div class="message" [class.active]="email.touched && email.invalid">
      <small *ngIf="email.touched && email.hasError('required')">Este campo es requerido</small>
      <small *ngIf="email.touched && email.hasError('email')">El email debe tener un formato valido</small>
    </div>
  </div>

  <div>
    <p>Tel: {{phone.value}}</p>
    <input type="tel" formControlName="phone" />
  </div>

  <div>
    <p>Color: {{color.value}}</p>
    <input type="color" formControlName="color" />
  </div>

  <div>
    <p>Date: {{date.value}}</p>
    <input type="date" formControlName="date" />
  </div>

  <div>
    <p>Number: {{number.value}}</p>
    <input type="number" formControlName="number" />
  </div>

  <div>
    <p>Category: {{category.value}}</p>
    <select formControlName="category">
      <option value="1">C#1</option>
      <option value="2">C#2</option>
      <option value="3">C#3</option>
    </select>
  </div>

  <div>
    <p>Tags: {{tags.value}}</p>
    <select formControlName="tags" multiple>
      <option value="1">T#1</option>
      <option value="2">T#2</option>
      <option value="3">T#3</option>
      <option value="4">T#4</option>
      <option value="5">T#5</option>
      <option value="6">T#6</option>
      <option value="7">T#7</option>
    </select>
  </div>

  <div>
    <p>Agree: {{agree.value}}</p>
    <input type="checkbox" formControlName="agree" />
    <div class="message" [class.active]="agree.touched && agree.invalid">
      <small *ngIf="agree.touched && agree.hasError('required')">Debe aceptar los terminos y condiciones.</small>
    </div>
  </div>

  <div>
    <p>Gender: {{gender.value}}</p>
    <label>
      Male
      <input name="gender" type="radio" value="M" formControlName="gender" />
    </label>
    <label>
      Female
      <input name="gender" type="radio" value="F" formControlName="gender" />
    </label>
    <label>
      Other
      <input name="gender" type="radio" value="O" formControlName="gender" />
    </label>
  </div>

  <div>
    <button type="submit">Enviar</button>
  </div>

</form>
<!--
<div>
  <p>Name: {{nameFlied.value}}</p>
  <input [class.is-valid]="nameFlied.touched && nameFlied.valid"
    [class.is-invalid]="nameFlied.touched && nameFlied.invalid" type="text" [formControl]="nameFlied" />
  <code>
  <pre>{{nameFlied | json}}</pre>
 </code>
  <div class="message" [class.active]="nameFlied.touched && nameFlied.invalid">
    <small *ngIf="nameFlied.touched && nameFlied.hasError('required')">Este campo es requerido</small>
  </div>
</div>

<div>
  <p>Email: {{emailFlied.value}}</p>
  <input [class.is-valid]="emailFlied.touched && emailFlied.valid"
    [class.is-invalid]="emailFlied.touched && emailFlied.invalid" type="email" [formControl]="emailFlied" />
  <div class="message" [class.active]="emailFlied.touched && emailFlied.invalid">
    <small *ngIf="emailFlied.touched && emailFlied.hasError('required')">Este campo es requerido</small>
    <small *ngIf="emailFlied.touched && emailFlied.hasError('email')">El email debe tener un formato valido</small>
  </div>
</div>

<div>
  <p>Tel: {{phoneFlied.value}}</p>
  <input type="tel" [formControl]="phoneFlied" />
</div>

<div>
  <p>Color: {{colorFlied.value}}</p>
  <input type="color" [formControl]="colorFlied" />
</div>

<div>
  <p>Date: {{dateFlied.value}}</p>
  <input type="date" [formControl]="dateFlied" />
</div>

<div>
  <p>Number: {{numberFlied.value}}</p>
  <input type="number" [formControl]="numberFlied" />
</div>

<div>
  <p>Category: {{categoryFlied.value}}</p>
  <select [formControl]="categoryFlied">
    <option value="1">C#1</option>
    <option value="2">C#2</option>
    <option value="3">C#3</option>
  </select>
</div>

<div>
  <p>Tags: {{tagsFlied.value}}</p>
  <select [formControl]="tagsFlied" multiple>
    <option value="1">T#1</option>
    <option value="2">T#2</option>
    <option value="3">T#3</option>
    <option value="4">T#4</option>
    <option value="5">T#5</option>
    <option value="6">T#6</option>
    <option value="7">T#7</option>
  </select>
</div>

<div>
  <p>Agree: {{agreeFlied.value}}</p>
  <input type="checkbox" [formControl]="agreeFlied" />
</div>

<div>
  <p>Gender: {{genderFlied.value}}</p>
  <label>
    Male
    <input name="gender" type="radio" value="M" [formControl]="genderFlied" />
  </label>
  <label>
    Female
    <input name="gender" type="radio" value="F" [formControl]="genderFlied" />
  </label>
  <label>
    Other
    <input name="gender" type="radio" value="O" [formControl]="genderFlied" />
  </label>
</div>
-->
