<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Categoría</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input placeholder="Nombre" formControlName="name" matInput type="text">
            <div class="messages" *ngIf="name.touched && name.invalid">
              <mat-error *ngIf="name.hasError('required')">
                Este campo es requerido
              </mat-error>
              <mat-error *ngIf="name.hasError('minlength')">
                Debe tener al menos 3 caracteres
              </mat-error>
              <mat-error *ngIf="name.hasError('not_available')">
                El nombre que escogio no esta disponible
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <img *ngIf="image.value" [src]="image.value" width="256px">
          <br>
          <mat-label>Image</mat-label>
          <input (change)="uploadFile($event)" placeholder="Image" type="file">
          <div class="messages" *ngIf="image.touched && image.invalid">
            <mat-error *ngIf="image.hasError('required')">
              Este campo es requerido
            </mat-error>
          </div>
          <mat-progress-bar *ngIf="showProgressBar" mode="determinate" [value]="progress">
          </mat-progress-bar>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">Guardar categoría</button>
    </mat-card-actions>
  </mat-card>
</form>
